<!-- templates/home.html -->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if request.user.is_superuser%}

{% elif user.is_authenticated %}
<div class="container-fluid">
    <div class="row pl-5 py-2">
        {% if movies %}
        {% for movie in movies %}
        <div class="col-3">

            <div class="card h-100" style=" height: 15rem; object-fit: cover;">
                <img class="card-img-top " src="{{ movie.thumb_url }}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="{%url 'moviedetail' movie.id %}">
                            {{ movie.name }}
                        </a>
                    </h5>
                    <p class="card-text">{{ movie.short_des }}</p>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#a{{ movie.id }}">
                        Watch Movie
                    </button>
                </div>
            </div>
            <div class="modal fade" id="a{{ movie.id }}" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">{{movie.name}}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <iframe width="470" height="315" src="{{movie.video_url}}" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        </div>
                        <div class="modal-footer">
                            <p class="mr-5">Category: {{movie.genre}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>




{% else %}
<p>No movies are available.</p>
{% endif %}
{% else %}
{% include 'logged_out.html' %}
{% endif %}


{% endblock %}